<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !current_user %>
  <%= link_to "Sign in", "/users/sign_in" %>
<% else %>
  <%= link_to destroy_user_session_path, :method => :delete  do %>Sign out<%end%><%end%>

<%= yield %>

</body>
</html>
